<header class="containerNavBar" id="contNavBar">
    <nav class="nav">
        <a href="../../../index.html"><img src="" alt="logo of homar"></a>
        <i class="icon phone fas fa-phone-alt"></i>
        <i class="icon search fas fa-search"></i>
        <i class="icon user fas fa-user"></i>
        <input type="checkbox" id="menu-toggle">
        <label class="burguer-icon" for="menu-toggle"><i class="fas fa-bars"></i></label>
        <label class="close-icon" for="menu-toggle"><i class="fas fa-times"></i></label>
        <ul class="menu">
            <li>Nuestros seguros <i class="arrow fas fa-caret-down"></i></li>
            <li>Sobre el COVID-19</li>
            <li>Ayuda <i class="arrow fas fa-caret-down"></i></li>
            <li class="contact"><i class="fas fa-phone-alt"></i>Contacto</li>
            <li class="search"><span>¿Qué estás buscando?</span><i class="fas fa-search"></i></li>
            <li class="myacount"><i class="fas fa-user"></i><p>MI CUENTA</p></li>
        </ul>
    </nav>
</header>