<div class="menuDiv">
    <button class="menuDiv" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>
                <a href="https://github.com/soniaseuc/LIM012-data-lovers" target="_blank" class="firstProjectTitle">LoL Lovers</a>
          </span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>
              <a href="https://github.com/soniaseuc/LIM012-fe-social-network" target="_blank" class="secondProjectTitle">EduChat</a>
          </span>
        </button>
      </mat-menu>
</div>


  <!-- <div class="projects-mobile">
    
    <div class="mob-proj1-div">
      <div class="mob-proj1-name"></div>
      <div class="mob-proj1-pic"></div>
      <div class="mob-proj1-about"></div>
    </div>
    <div class="mob-proj2-div">
      <div class="mob-proj2-name"></div>
      <div class="mob-proj2-pic"></div>
      <div class="mob-proj2-about"></div>
    </div>
  </div> -->


  <!-- <div class="all-projects">

    <div class="firstProjectDiv">

      <div class="first-project-about-title-div">
        <a href="https://github.com/soniaseuc/LIM012-data-lovers" target="_blank" class="firstProjectTitle">LoL Lovers</a>
        <p class="firstAboutProject">
          Pagina web para los apasionados de League of Legends donde se filtra,
          ordena y visualiza información que el usuario considera útil (User-centered design).
        </p>
      </div>
      
      <figure class="firstProjectFigure">
        <a href="https://soniaseuc.github.io/LIM012-data-lovers/src/." target="_blank" class="firstProjectAnchor">
          <img alt="firstProjectImg" class="firstProjectImg" src="https://user-images.githubusercontent.com/60791273/90909405-509b1c00-e39b-11ea-8743-169186f2ee83.png">
        </a>
      </figure>
    </div>
    
    <div class="secondProjectDiv">

      <div class="second-project-about-title-div">
        <a href="https://github.com/soniaseuc/LIM012-fe-social-network" target="_blank" class="secondProjectTitle">EduChat</a>
        <p class="secondAboutProject">  
          Red social (SPA) sobre educación con un enfoque mobile first donde se publican,
          modifican y eliminan posts y que permite la persistencia de datos.
        </p>
      </div>
      
      <figure class="secondProjectFigure">
        <a href="https://soniaseuc.github.io/LIM012-fe-social-network/src/." target="_blank" class="secondProjectAnchor">
          <img alt="secondProjectImg" class="secondProjectImg" src="https://user-images.githubusercontent.com/60791273/90909558-8b04b900-e39b-11ea-8161-e6f2f0c2dc94.png">
        </a>
      </figure>
    </div>

  </div>  -->