<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Proyectos</mat-toolbar>
    <mat-nav-list class="allProjects">
      <li mat-list-item>
        <a href="https://github.com/soniaseuc/LIM012-data-lovers" target="_blank" class="projectTitle">LoL Lovers</a>
      </li>
        <figure mat-list-item class="projectFigure">
          <a href="https://soniaseuc.github.io/LIM012-data-lovers/src/." target="_blank" class="projectAnchor">
            <img alt="firstProjectImg" class="projectImg" src="https://user-images.githubusercontent.com/60791273/90909405-509b1c00-e39b-11ea-8743-169186f2ee83.png">
          </a>
        </figure>
        <p mat-list-item class="aboutProject">
          Pagina web para los apasionados de League of Legends donde se filtra,
          ordena y visualiza información que el usuario considera útil (User-centered design).
        </p>
      <li mat-list-item>
        <a href="https://github.com/soniaseuc/LIM012-fe-social-network" target="_blank" class="projectTitle">
          EduChat
        </a>
      </li>
        <figure mat-list-item class="projectFigure">
          <a href="https://soniaseuc.github.io/LIM012-fe-social-network/src/." target="_blank" class="projectAnchor">
            <img alt="secondProjectImg" class="projectImg" src="https://user-images.githubusercontent.com/60791273/90909558-8b04b900-e39b-11ea-8161-e6f2f0c2dc94.png">
          </a>
        </figure>
        <p mat-list-item class="aboutProject">
          Red social (SPA) sobre educación con un enfoque mobile first donde se publican,
          modifican y eliminan posts y que permite la persistencia de datos.
        </p>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="allcontent">
    <mat-toolbar class="navbarMaterial" color="">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
        <span class="mobilename">Sonia Seuc</span>
      <!-- <span>Sonia</span> -->
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
