@import '../../styles.scss';

.sidenav-container {
  height: 100%;
  width: 100vw;
  background: $white; // pq quiero que el fondo de toda la web sea blanco y no gris
}

.sidenav {
  width: 90vw;
  height: 100vh;  
  .allProjects {
    list-style-type: none;
    padding-top: 10%;
    font-family: 'Kalam', cursive;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    background: $white;
    color: $secundary;
    .projectFigure {
      margin: 3% 0;
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      .projectAnchor {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        .projectImg {
          max-width: 60%;
          height: auto;
          display: flex;
          justify-content: center;
          align-content: center;
          align-items: center;
          // margin-left: 20%;
        }     
      }
    }
    .projectTitle {
      font-size: 150%;
      font-weight: bolder;
      padding-top: 10%;
      text-decoration-line: underline;
    }
    .aboutProject {
      font-size: 120%;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      text-align: center;
      max-width: 60%;
      margin-bottom: 5%;
    }
  }
}

.sidenav .mat-toolbar {
  background: $secundary; //pq queria que sidebar desplegado no fuese gris sino verde
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;

}
 // cambios personalizados
.allcontent {
  .navbarMaterial {
    background: #3EC28F;
    .mobilename {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      font-family: 'Kalam', cursive; 
      font-style: normal;
      font-weight: bolder;
      // padding-left: 10%;
      // padding-right: 10%;
      font-size: 150%;
      // line-height: 20%;
      color: $secundary;
      letter-spacing: 0.1rem;
      // z-index: 2000;
      // position: fixed;
      // right: 7%;
      // margin-top: -6%;
      // top: 1%;
    }
  }
}

@media (min-width: 769px) { // escritorio
  .sidenav { // pq no queria que se viese el menu lateral en modo escritorio
    display: none;
  }

  .navbarMaterial { //pq la barra navegacion no queria que se viese en modo desktop
    display: none;
  }

}