@import '../../styles.scss';

.sidenav-container {
  height: 100%;
  width: 100vw;
}

.sidenav {
  width: 90vw;
  height: 100vh;
  // box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
 // cambios personalizados

@media (min-width: 768px) {
  .sidenav {
    display: none;
  }

}
.mobilename {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: 'Kalam', cursive; 
  font-style: normal;
  font-weight: bolder;
  // padding-left: 10%;
  // padding-right: 10%;
  font-size: 150%;
  // line-height: 20%;
  color: $secundary;
  letter-spacing: 0.1rem;
  // z-index: 2000;
  // position: fixed;
  // right: 7%;
  // margin-top: -6%;
  // top: 1%;
}

.allProjects {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  .projectFigure {
    margin-top: 3%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    .projectAnchor {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      .projectImg {
        max-width: 60%;
        height: auto;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        // margin-left: 20%;
      }     
    }
  }
  .aboutProject {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    max-width: 60%;
  }
}

