@import '../styles.scss';

.mobilename  {
    display: none;
}

.projects-mobil {
    display: none;
}


body {
    display: flex;
    flex-direction: row;
    .navbar {
        margin-bottom: 1%;
        // display:none;
    }
    .left-aside {
        margin-top: 2%;
        display: flex;
        flex-direction: column;
        font-family: 'Kalam', cursive;
        font-style: normal;
        font-weight: bold;
        margin-left: 2%;
        .name-header {
            margin-top: 2%;
            .sonia-name-left {
                font-size: 500%;
                line-height: 80%;
                color: $primary;
                letter-spacing: 0.1rem;
            }
        }
        .education-div {
            margin-top: 10%;
            color: $secundary;
            letter-spacing: 0.04rem;
            .eduCapital {
                margin-top: 15%;
                font-size: 170%;
                line-height: 150%;
                text-decoration-line: underline;
            }
            .education {
                font-size: 160%;
                line-height: 160%;
                align-items: left;
                display: flex;
                flex-direction: column;
                list-style: none;                    
            }
        }
        .ability-div {
            color: $secundary;
            letter-spacing: 0.04rem;
            .abilityCapital {
                margin-top: 15%;
                font-size: 170%;
                line-height: 150%;
                align-items: center;
                text-align: justify;
                text-decoration-line: underline;
            }
            .abiliSoft {
                display: flex;
                flex-direction: column; 
                list-style: none;
                flex-wrap: nowrap;
                font-size: 160%;
                line-height: 160%;
                align-items: left;
                text-align: left;
            }
        }
        .idioms-div {
            color: $secundary;
            font-style: normal;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            .idiomCapital {
                margin-top: 15%;
                font-size: 170%;
                line-height: 150%;
                align-items: center;
                letter-spacing: 0.04em;
                text-decoration-line: underline;
            }
            .twolanguages {
                font-size: 160%;
                line-height: 160%;
                display: flex;
                align-items: left;
                flex-direction: column;
                list-style: none;
                letter-spacing: 0.04em;
            }
        }
    }
    .main {
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        font-family: 'PT Sans Narrow', sans-serif;
        .pic-header-about-div {
            display: flex;
            flex-direction: row;
            .profile-pic {
                width: 65%;
                margin-top: 2%;
                // margin-right: 2%;
                a .profileImg {
                    border-radius: 50%;
                    width: 100%;
                    height: auto;
                    display: inline-block;
                    // overflow: hidden;
                    line-height: 1;
                    vertical-align: middle;
                    border: 1px solid $ivory;
                    background-color: $white;
                    z-index: 2;
                }
            }
            .header-about-triang {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                margin-left: -15%;
                .headerGreenRectan {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;
                    color: $secundary;
                    font-style: normal;
                    font-weight: bolder;
                    font-size: 5.1rem;
                    line-height: 6.5rem;
                    letter-spacing: 0.5rem;
                    overflow: hidden;
                    margin-top: 3%;
                    border-radius: 30px;
                    padding-left: 3%;
                    padding-right: 2%;
                    background: $lightGreenTransparent;
                }
                .about-triang {
                    margin-top: 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: stretch;
                    z-index: -1;
                    .rightYellowTriang {
                        margin-top: 10%;
                        width: 90px;
                        height: 90px;
                        background: linear-gradient(to bottom right, #fff 0%, #fff 50%, $yellow 50%, $yellow 100%);
                        z-index: -1;
                        align-self: flex-end;
                    }
                    .about {
                        width: 55%;
                        margin-top: 2%;
                        color: $secundary;
                        font-family: 'PT Sans Narrow';
                        font-style: normal;
                        font-weight: bold;
                        font-size: 28px;
                        line-height: 36px;
                        display: flex;
                        align-items: center;
                        text-align: justify;
                    }
                    .leftYellowTriang {
                        margin-top: 3%;
                        width: 90px;
                        height: 90px;
                        background: linear-gradient(to top left, #fff 0%, #fff 50%, $yellow 50%, $yellow 100%);
                    }
                }
            }
        }
        .main-project-icons {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: stretch;
            .left-icons {
                margin-right: -3%;
                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: center;
                align-content: center; 
                .githubSvg {
                    margin-bottom: 20%;
                }
                .linkedinSvg {
                    margin-bottom: 20%;
                }
                .fbSvg {
                    margin-bottom: 1%;
                }
            }
            .all-projects {
                color: $secundary;
                margin: 0 10%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                align-items: center;
                font-style: normal;
                font-weight: bold;
                .firstProjectDiv {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    align-content: center;
                    align-items: center;
                    justify-content: center;
                    .first-project-about-title-div {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;
                        max-inline-size: 50%;
                        writing-mode: horizontal-tb;
                        .firstProjectTitle {
                            color: $secundary;
                            width: fit-content;
                            margin-top: 10%;
                            margin-bottom: 2%;
                            font-size: 20px;
                            line-height: 26px;
                            display: flex;
                            align-items: center;
                            text-align: justify;
                            letter-spacing: 0.06em;
                            text-decoration-line: underline;
                        }
                        .firstAboutProject {
                            white-space: wrap;
                            max-width: 90%;
                            font-size: 20px;
                            line-height: 26px;
                            display: flex;
                            align-items: center;
                            text-align: justify;
                            letter-spacing: 0.06em;                           
                        }
                    }
                    .firstProjectFigure {
                        margin-top: 3%;
                        flex-grow: 1;
                        .firstProjectImg {
                            max-width: 70%;
                            height: auto;
                            margin-left: 10%;
                        }                   
                    }
                }
                .secondProjectDiv {
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    flex-direction: row;
                    width: 100%;
                    .second-project-about-title-div {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;
                        max-inline-size: 50%;
                        writing-mode: horizontal-tb;
                        .secondProjectTitle {
                            width: fit-content;
                            margin-top: 10%;
                            margin-bottom: 2%;
                            color: $secundary;
                            font-size: 20px;
                            line-height: 26px;
                            display: flex;
                            align-items: center;
                            text-align: justify;
                            letter-spacing: 0.06em;
                            text-decoration-line: underline;
                        }
                        .secondAboutProject {
                            max-width: 90%;
                            white-space: wrap; 
                            font-size: 20px;
                            line-height: 26px;
                            display: flex;
                            align-items: center;
                            text-align: justify;
                            letter-spacing: 0.06em;
                        }
                        
                    }
                    .secondProjectFigure {
                        flex-grow: 1;
                        margin-top: 2%;
                        .secondProjectImg {
                            width: 70%;
                            height: auto;
                            margin-left: 10%;
                        }
                    }
                }
            }
            .right-icons {
                margin-right: 5%;
                margin-left: -10%;
                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: center;
                align-content: center;
                .instagramSvg {
                    margin-bottom: 20%;
                }    
                .whatsapp {
                    cursor:pointer;
                    margin-bottom: 30%;
                }
                .email {
                    cursor:pointer;
                    margin-bottom: 1%;
                }
            }
        }
    }
}

// .whatsapp a span  {display:none;}
// .whatsapp a span:link {
//         // text-decoration: inherit;
//         // color: inherit;
//         // cursor: auto;
//         cursor: pointer;
// }
// .whatsapp a:hover span {
//     // display:block;
//     // color: $secundary;
//     // overflow-anchor: none;
//     // text-decoration: inherit;
//     // cursor: auto;
//     cursor: pointer;
// }

// .email a span  {display:none;}
// .email a span:link {
//     // text-decoration: inherit;
//     // color: inherit;
//     cursor: pointer;
//     // cursor: auto;
// }
// .email a:hover span {
//     // display:flex;
//     // justify-content: center;
//     // justify-content: center;
//     // color: $secundary;
//     // overflow-anchor: none;
//     // text-decoration: inherit;
//     cursor: pointer;
//     // cursor: auto;
// }

// this makes the .modal visible
.sshow {
    display: block;
}
// this makes the element hidden/invisible
.hhidden {
    display: none;
}

.close-button {
    cursor: pointer;
}

:host {
    display: block;
  }
  
    .__bar {
      position: fixed;
      display: none;
      top: 0;
      left: 0;
  
      height: 80px;
      width: 100%;
  
      background: #fff;
    }
  
    .__button,
    .__menu {
      position: absolute;
    }  
  
    .__button {
      right: 20px;
      top: 23px;
      z-index: 1;
  
      margin: 0;
      padding: 0;
      
      border: none;
      background: transparent;
      outline: none;
      cursor: pointer;
  
      transition: opacity 200ms;
  
      &:hover {
        opacity: 0.8;
      }
    }
  
    .__menu {
      left: 0;
      top: 12px;    
  
      width: 100%;
      padding: 0 80px;
  
      text-align: center;
    }

@media only screen and (max-width: 769px) {// tablet movil

    .mobilename {
        margin-top: 35%;
        display: flex;
        font-family: 'Kalam', cursive;
        font-style: normal;
        font-weight: bolder;
        // margin-left: 2%;
        font-size: 200%;
        line-height: 20%;
        color: $secundary;
        letter-spacing: 0.1rem;
    }

    .projects-mobil {
        display: flex;
    }

    :host {
        display: block;
      }
      
        .__bar {
            display: flex;
          position: fixed;
          top: 0;
          left: 0;
      
          height: 80px;
          width: 100%;
      
          background: #fff;
        }
      
        .__button,
        .__menu {
          position: absolute;
        }  
      
        .__button {
          right: 20px;
          top: 23px;
          z-index: 1;
      
          margin: 0;
          padding: 0;
          
          border: none;
          background: transparent;
          outline: none;
          cursor: pointer;
      
          transition: opacity 200ms;
      
          &:hover {
            opacity: 0.8;
          }
        }
      
        .__menu {
          left: 0;
          top: 12px;    
      
          width: 100%;
          padding: 0 80px;
      
          text-align: center;
        }

    .body {
        flex-direction: column-reverse;
        .navbar {
            padding-bottom: 10%;   
        }
        .left-aside {
            margin-top: 2%;
            display: flex;
            flex-direction: column;
            font-family: 'Kalam', cursive;
            font-style: normal;
            font-weight: bold;
            margin-left: 2%;
            .name-header {
                margin-top: 2%;
                .sonia-name-left {
                    font-size: 1%;
                    line-height: 1%;
                    color: $secundary;
                    letter-spacing: 0.1rem;
                    display: none;
                }
            }
        }
        .main {
            .pic-header-about-div {
                display: flex;
                flex-direction: row;
                .profile-pic {
                    display: none;
                    width: 65%;
                    margin-top: 2%;
                    // margin-right: 2%;
                    a .profileImg {
                        border-radius: 50%;
                        width: 100%;
                        height: auto;
                        display: inline-block;
                        // overflow: hidden;
                        line-height: 1;
                        vertical-align: middle;
                        border: 1px solid $ivory;
                        background-color: $white;
                        z-index: 2;
                    }
                }
            }
            .main-project-icons {
                display: none;
            }
        }
    }
}