@import '../styles.scss';

// .mobilename  {
//     display: none;
// }

// .projects-mobil {
//     display: none;
// }

body {
    display: flex;
    flex-direction: row;
    // .left-aside {
    //     margin-right: -5%;
    // }
    .navbar {
        margin-bottom: 1%;
        // display:none;
    }
    .ocultmaterialmenu {
        display: none;
    }
}

// .whatsapp a span  {display:none;}
// .whatsapp a span:link {
//         // text-decoration: inherit;
//         // color: inherit;
//         // cursor: auto;
//         cursor: pointer;
// }
// .whatsapp a:hover span {
//     // display:block;
//     // color: $secundary;
//     // overflow-anchor: none;
//     // text-decoration: inherit;
//     // cursor: auto;
//     cursor: pointer;
// }

// .email a span  {display:none;}
// .email a span:link {
//     // text-decoration: inherit;
//     // color: inherit;
//     cursor: pointer;
//     // cursor: auto;
// }
// .email a:hover span {
//     // display:flex;
//     // justify-content: center;
//     // justify-content: center;
//     // color: $secundary;
//     // overflow-anchor: none;
//     // text-decoration: inherit;
//     cursor: pointer;
//     // cursor: auto;
// }

// this makes the .modal visible
// .sshow {
//     display: block;
// }
// // this makes the element hidden/invisible
// .hhidden {
//     display: none;
// }

// .teleNumber {
//     font-size: normal;
//     line-height: 100%;
// }

// .close-button {
//     cursor: pointer;
// }

:host {
    display: block;
  }
  
    .__bar {
      position: fixed;
      display: none;
      top: 0;
      left: 0;
  
      height: 80px;
      width: 100%;
  
      background: #fff;
    }
  
    .__button,
    .__menu {
      position: absolute;
    }  
  
    .__button {
      right: 20px;
      top: 23px;
      z-index: 1;
  
      margin: 0;
      padding: 0;
      
      border: none;
      background: transparent;
      outline: none;
      cursor: pointer;
  
      transition: opacity 200ms;
  
      &:hover {
        opacity: 0.8;
      }
    }
  
    .__menu {
      left: 0;
      top: 12px;    
  
      width: 100%;
      padding: 0 80px;
  
      text-align: center;
    }



// <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
// <!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
// <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
// <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
// <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
// <!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
// <!-- * * * * * * * to get started with your project! * * * * * * * * -->
// <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

@media only screen and (max-width: 769px) {// tablet movil
    .body {
        height: 100%;
        flex: 1 0 auto;
        flex-direction: column-reverse;
        .navbar {
            padding-bottom: 1%;   
        }
        .ocultmaterialmenu {
            display: flex;
            height: 100%;
            width: 100%;
            box-sizing: border-box;
            // background: #3EC28F;
            // padding-top: 3%;
            // padding-bottom: 3%;
        }
    }


    // .mobilename {
    //     justify-content: center;
    //     display: flex;
    //     font-family: 'Kalam', cursive; 
    //     font-style: normal;
    //     font-weight: bolder;
    //     font-size: 300%;
    //     line-height: 20%;
    //     color: $secundary;
    //     letter-spacing: 0.1rem;
    //     z-index: 2000;
    //     // position: fixed;
    //     right: 7%;
    //     margin-top: -6%;
    //     top: 1%;
    // }

    // .projects-mobil {
    //     display: flex;
    // }


    // INICIO DE MENU BURGUER
    :host {
        display: block;
    }

        .__bar {
            display: flex;
            position: fixed;
            top: 0;
            left: 0;

            height: 80px;
            width: 100%;

            background:$primary;
        }

        .__button,
        .__menu {
            position: absolute;
        }  

        .__button {
            right: 20px;
            top: 23px;
            z-index: 1;
        
            margin: 0;
            padding: 0;
            
            border: none;
            background: transparent;
            outline: none;
            cursor: pointer;

            transition: opacity 200ms;

            &:hover {
                opacity: 0.8;
            }
        }

        .__menu {
            left: 0;
            top: 12px;    
        
            width: 100%;
            padding: 0 80px;
        
            text-align: center;
        }
        // FIN DE MENU BURGUER


}