<aside class="left-aside">
    <p class="headerSoftSkill">Conóceme más a detalle</p>
    <div class="name-header">
      <p class="sonia-name-left">SONIA</p>
      <p class="sonia-name-left">Seuc</p>
      <p class="sonia-name-left">Alvarez</p>
    </div>

    <div class="education-div">
      <aside class="eduCapital">EDUCACIÓN:</aside>
      <ul class="education">
        <li class="li-left-aside">Laboratoria</li>
        <li class="li-left-aside">Ene-Sept 2020</li>
      </ul>
    </div>

    <div class="ability-div">
      <aside class="abilityCapital">HABILIDADES:</aside>
      <ul class="abiliSoft">
        <li class="li-left-aside">Empatía  </li>
        <li class="li-left-aside">Trabajo en equipo</li>
        <li class="li-left-aside">Aprender a aprender</li>
      </ul>
    </div>    

    <div class="idioms-div">
      <aside class="idiomCapital">IDIOMAS:</aside>
      <ul class="twolanguages">
        <li class="li-left-aside">Español</li>
        <li class="li-left-aside">Inglés</li>
      </ul>
    </div>

</aside>