/* You can add global styles to this file, and also import other style files */
$primary: #3EC28F;
$lightGreenTransparent: rgba(62, 194, 143, 0.5);
$black: #000000;
$secundary:  #226249;
$yellow : #FFF064;
$ivory : #e1e4e8;
$white : #fff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}